/* HTML elements */

body {
    background-image: url("../images/background.jpg");
  }

h1 {
    font-size:50px;
    font-family: "Amatic SC";
}

h2, h3, h4 {
    font-family: "Amatic SC";
}



p {
    font-family: "Bungee Spice";
}

/***********************/

button {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .875rem 1.125rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

label {
    font-size: 20px;
    font-family: Amatic SC;
}

button:not(:disabled):hover {
    transform: scale(1.05);
}

button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

button:focus {
    outline: 0 solid transparent;
}

button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

button:focus:not(:focus-visible):before {
    border-width: 0;
}

button:not(:disabled):active {
    transform: translateY(.125rem);
}

/***********************/

/* Class items */
.game {
    width: 540px;
    height: 540px;
    /*border: 1px solid #000000;*/
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.top-row {
    /* ADD CODE HERE 
    
    1. Use css grid to create 11 equally sized columns 
    
    */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

.bottom-row {
    /* ADD CODE HERE
    
    1. use css grid with 2 columns with a ratio of 1:10 
    
    */

    display: grid;
    grid-template-columns: 1fr 10fr;
}

.side-row {
    /* ADD CODE HERE
    
    1. this should be 40px wide 
    
    */
    width: 50px;
}

.main {
    /* ADD CODE HERE
    
    1. this should be 400px wide
    2. use css grid with 10 equally sized columns
    
    */
    display: grid;
    width: 500px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.square {
    margin: 0px;
    height: 50px;
    width: 40px;
    /* background-color: white; */
    display: grid;
    justify-content: center;
    align-content: center;

}

.square>p {
    color: black;
}

.hidden {
    visibility: hidden
}


.mistakes {
    font-weight: bold;
}

#top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:540px;
    margin-left:50px;
}

.text-box {
    background-color: #faebd7;
    height:50px;
    width:500px;
    font-family: Amatic SC;
    font-size:40px;
}

/* ID Items */
#find-number {
    width: 160px;
    border: 1px sold darkgreen;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mistakes-message {
    width: 160px;
    border: 1px sold darkred;
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructions{
    width:800px;
    height:600px;
    background-color: lightblue;
    visibility:hidden;
    position:fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border: 2px, solid black;
    padding:15px;
    border-radius:15px;
    box-shadow:6px 6px 4px grey;
}

#close {
    cursor: pointer;
}

#toggle-music {
    cursor: pointer;
}

#controls {
    margin-left: 65px;
    width:540px;

}

#boy-avatar {
    margin-left:5px;
}

.control_button {
    cursor: pointer;
}

.button-turn-sound-off:hover {
    
}

.button-skip-question:hover {
    
}

.button-instrucions:hover {
    
}